 .img_list {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .img_list li {
        flex-basis: calc(33.33% - 10px);
        margin-bottom: 20px;
      }

      .img_list img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
      /* анімація */
      .img_list img {
        opacity: 0.5;
        transition: opacity 500ms;
      }

      .img_list img.appear{
        opacity: 1;
        background-color: rgb(255, 255, 255);
        color: rgba(0, 255, 174, 0);
      }
      